
<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-globalbedo-modis35-reader</symbolicName>
    <version>2.0.2-SNAPSHOT</version>
    <name>GlobAlbedo Modis35 Cloud Mask Reader</name>
    <description>Specific reader for MODIS MOD35 Cloud Mask product.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <b>Changes in 1.2-SNAPSHOT</b><br/>
        Initial implementation.<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,NetCDF,HDF,CF,EOS</categories>


    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importModis35Product</id>
            <helpId>importModis35Product</helpId>
            <formatName>MOD35-L2</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>MODIS35 Cloud Mask</text>
            <mnemonic/>
            <shortDescr>Import a MODIS35 Cloud Mask product.
            </shortDescr>
            <description>Import a MODIS35 Cloud Mask product.
            </description>
        </action>
    </extension>

</module>
