<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-globalbedo-mosaic-reader</symbolicName>
    <version>1.3</version>
    <name>GlobAlbedo Mosaic Reader</name>

    <description> </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2011 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importGlobAlbedoMosaicProduct</id>
            <helpId>importGlobAlbedoMosaicProduct</helpId>
            <formatName>GLOBALBEDO-L3-MOSAIC</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>GlobAlbedo Mosaic</text>
            <mnemonic/>
            <shortDescr>Import a GlobAlbedo Mosaic data product or product subset.
            </shortDescr>
            <description>Import a GlobAlbedo Mosaic data product or product subset.
            </description>
        </action>
    </extension>

</module>
