<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-tiff-directory-reader</symbolicName>
    <version>1.3</version>
    <name>TIFF Directory Reader</name>
    <description>
        A product reader for directories of TIFF files.
    </description>

    <copyright>(C) 2012 by Brockmann Consult</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-geotiff</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader, Landsat</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importTIFFDirectoryProduct</id>
            <helpId>importTIFFDirectoryProduct</helpId>
            <formatName>TIFF_DIRECTORY</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>TIFF collection</text>
            <shortDescr>Import a collection of TIFF products from one directory.</shortDescr>
            <description>Import a collection of TIFF products from one directory.</description>
        </action>
    </extension>

</module>