<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-globalbedo-modis29-reader</symbolicName>
    <version>1.1-SNAPSHOT</version>
    <name>GlobAlbedo Modis29.5 Sea Ice Reader</name>

    <description> </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2011 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importModis29Product</id>
            <helpId>importModis29Product</helpId>
            <formatName>GLOBALBEDO-MODIS29-SEA-ICE</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>MODIS29 Sea Ice</text>
            <mnemonic/>
            <shortDescr>Import a MODIS29 Sea Ice product.
            </shortDescr>
            <description>Import a MODIS29 Sea Ice product.
            </description>
        </action>
    </extension>

</module>