<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-globalbedo-bbdr-retrieval</symbolicName>
    <version>2.0.5-SNAPSHOT</version>
    <name>Globalbedo BBDR Retrieval</name>
    <description>
        Calculates SDR and BBDR from MERIs, AATSR and SPOT-VGT L1 data.
    </description>
    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2011 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>
    
    
    <categories>Application,Processor,MERIS,AATSR</categories>

	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
	<dependency>
        <module>beam-envisat-reader</module>
    </dependency>

    <extension point="beam-ui:actions">
        <action>
            <id>cccloud</id>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <operatorName>lc.l2</operatorName>
            <dialogTitle>lcl2</dialogTitle>
            <targetProductNameSuffix>_sdr</targetProductNameSuffix>
            <text>LC-CCI SDR...</text>
            <shortDescr>Lc</shortDescr>
            <parent>tool</parent>
        </action>
        <action>
            <id>foobar</id>
            <helpId>clusterAnalysisEM</helpId>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <text>PixelGeocodingAnalyzer...</text>
            <operatorName>PixelGeocodingAnalyzer</operatorName>
            <dialogTitle>PixelGeocodingAnalyzer</dialogTitle>
            <targetProductNameSuffix>_pixgeo</targetProductNameSuffix>
        </action>
    </extension>

</module>
